import os

USERNAME = os.environ.get('MATTERMOST_WEBHOOK_USERNAME', 'GitHub')
ICON_URL = ""
WEBHOOK_URL = os.environ.get('MATTERMOST_WEBHOOK_URL', 'yourdomain.org/hooks/')
SECRET = os.environ.get('MM_INT_SECRET', '')
SHOW_AVATARS = os.environ.get('MM_INT_SHOW_AVATARS', True)
SERVER = {
    'hook': "/",
    'address': "0.0.0.0",
    'port': 5000,
}
